<div class="row">
    <!-- left content -->
    <div class="col-sm-7" >
        <div style="background: #dae0e7;margin-bottom:10px">
            <div class="border-bottom border-white mb-2">
                <H5 class="">Create a post</H5>
            </div>
            <div class="card" style="background: rgb(255, 255, 255)">
                <ul class="nav nav-tabs pt-2" id="myTab" role="tablist">
                    <select class="col-md-4">
                        <option value="volvo">Choose a comunity</option>
                        <option value="saab">Saab</option>
                    </select>
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#post" role="tab" aria-controls="post" aria-selected="true">Post</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#media" role="tab" aria-controls="media" aria-selected="false">Image & Video</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#link" role="tab" aria-controls="link" aria-selected="false">Link</a>
                    </li>
                </ul>
                <div class="tab-content p-2" id="myTabContent">
                    <div class="tab-pane fade show active" id="post" role="tabpanel" aria-labelledby="post-tab">
                        <form>
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Title">
                            </div>
                            <div class="form-group">
                                <app-ngx-editor [placeholder]="'Enter text here...'" [spellcheck]="true" [(ngModel)]="htmlContent" [ngModelOptions]="{standalone: true}"></app-ngx-editor>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="media" role="tabpanel" aria-labelledby="media-tab">
                        <form>
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Title">
                            </div>
                            <div class="form-group">
                                <ngx-dropzone (filesAdded)="onFilesAdded($event)" 
                                    (filesRejected)="onFilesRejected($event)"
                                    [showPreviews]="true"
                                    [multiple]="false"
                                    >
                                </ngx-dropzone>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="link" role="tabpanel" aria-labelledby="link-tab">
                        <form>
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Title">
                            </div>
                            <div class="form-group">
                                 <textarea class="form-control" rows="2" wrap="hard" id="url" placeholder="url"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- right content -->
    <div class="col-sm-4" style="margin-left: 5px">

        <div class="card pb-2" style="background: rgb(255, 255, 255);margin-bottom:10px">
            <h4>Noi Quy</h4>
            <ol class="rybysv-2 AVAcB">
                <li class="rybysv-1 eCBOOZ">Remember the human</li>
                <li class="rybysv-1 eCBOOZ">Behave like you would in real life</li>
                <li class="rybysv-1 eCBOOZ">Look for the original source of content</li>
                <li class="rybysv-1 eCBOOZ">Search for duplicates before posting</li>
                <li class="rybysv-1 eCBOOZ">Read the community’s rules</li>
            </ol>
        </div>

        <div class="card pb-2" style="background: rgb(255, 255, 255);margin-bottom:10px">
             <h4>About</h4>
            <div class="d-flex justify-content-center">
                <img src="https://fakeimg.pl/320x220/?text=Hello">
            </div>
            <div>© 2019 SonB, Inc. All rights reserved</div>
        </div>
    </div>
</div>