<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a routerLink="/" class="navbar-brand" to="/">Hidden brand</a>
        
        <!-- left nav -->
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <!-- <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li> -->
        </ul>
            <!-- Between nav  -->
        <ul class="navbar-nav px-5">
            <li class="nav-item text-nowrap mr-sm-5">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            </li>
            <li class="nav-item text-nowrap">
                <div class="dropdown">
                    <button class="btn btn-dark" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class= "fa fa-bell"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button">Action</button>
                        <button class="dropdown-item" type="button">Another action</button>
                        <button class="dropdown-item" type="button">Something else here</button>
                    </div>
                </div>
            </li>
            <li class="nav-item text-nowrap">
                <a class="nav-link"><i class= "fa fa-envelope"></i></a>
            </li>
        </ul>
        <!-- Right nav -->
        <ul class="navbar-nav px-1">
            <li class="nav-item text-nowrap px-2">
                <!-- <a class="nav-link" href="#">Đăng Ký</a> -->
                
            </li>
            <li class="nav-item text-nowrap">
                <!-- <a class="nav-link" href="#">Đăng Nhập</a> -->
                
            </li>
            <li class="pull-right">
                <a routerLink="/login">Login</a>
            </li>
        </ul>
    </div>
</nav>
<!-- Breadcrumb Start -->
<nav aria-label="breadcrumb" >
    <ol class="breadcrumb justify-content-center">
        <li class="pr-2">
            <a href="#">
                <span>Hot</span>
            </a>
        </li>
        <li class="border-left border-secondary px-2">
            <a href="#">
                <span>Anime</span>
            </a>
        </li>
        <li class="border-left border-secondary px-2">
            <a href="#">
                <span>Tech</span>
            </a>
        </li>
        <li class="border-left border-secondary px-2">
            <a href="#">
                <span>Movie</span>
            </a>
        </li>
        <li class="border-left border-secondary px-2">
            <a href="#">
                <span></span>
            </a>
        </li>
    </ol>
</nav>