<!-- right content -->


<div class="card pb-4" style="background: rgb(255, 255, 255);margin-bottom:10px">
    <div class="d-flex justify-content-center">
        <h4>Join The Fun</h4>
    </div>
    <div class="d-flex justify-content-center">
        <button routerLink='/createpost' type="button" class="btn btn-primary">Create POST</button>
    </div>
</div>

<div class="card pb-2" style="background: rgb(255, 255, 255);margin-bottom:10px">
    <h4>advertisement</h4>
    <div class="d-flex justify-content-center">
        <img src="https://fakeimg.pl/320x220/?text=Hello">
    </div>
</div>

<div class="card pb-2" style="background: rgb(255, 255, 255);margin-bottom:10px">
    <h4>Favorite Topic</h4>
    <div class="d-flex justify-content-center">
        <img src="https://fakeimg.pl/320x220/?text=Hello">
    </div>
</div>