<div>
    <!-- <div class="alert alert-danger" >
        <p>There was an error, unable to sign in with those credentials.</p>
    </div> -->
    <form autocomplete="off" novalidate (ngSubmit)="onSubmit()" [formGroup]="profileForm">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" class="form-control" pattern="[a-zA-Z ]*"  placeholder="user@example.com" formControlName="email">
            </div>
            <div class="col alert alert-danger" role="alert"
                *ngIf="profileForm.controls.email?.errors?.required
                    && profileForm.controls.email?.touched">
                Email is required!
            </div>
            <div class="col alert alert-danger" role="alert" 
                *ngIf="profileForm.controls.email?.errors?.pattern
                && profileForm.controls.email?.touched">
                Official Email not valid.
            </div> 
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" formControlName="password">
            </div>
            <div class="col alert alert-danger" role="alert"
                    *ngIf="profileForm.controls.password?.hasError('required')
                    && profileForm.controls.password?.touched">
                    Password is required!
            </div>
        <button class="btn btn-primary" type="submit" [disabled]="profileForm.invalid">Sign in</button>
    </form>
    <p>
        Form Status: {{ profileForm.status }}
      </p>
</div>