<!-- left content -->
<div class="row">
    <div class="col-sm-7">
        <div class="card" style="background: rgb(255, 255, 255);margin-bottom:10px">
            <h4>[Android & iOS] Tổng hợp game mobile hay trong tuần qua</h4>
            <div class="d-flex justify-content-center">
                <img src="https://fakeimg.pl/633x320/?text=Hello" class="img-fluid">
            </div>
            <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
        </div>

        <div class="card" style="background: rgb(255, 255, 255);margin-bottom:10px">
            comment as UserName
            <textarea class="form-control" rows="2" wrap="hard" id="comment" placeholder="your comment"
                v-model="post.reply"></textarea>
            <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
        </div>

    </div>
    <div class="col-sm-4" style="margin-left: 5px">
        <app-right-content></app-right-content>
    </div>
</div>