<div style="max-width:100%; background-color: #dae0e7">
    <app-header></app-header>
    <div class="container" style="margin-top:10px">
        <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
</div>