<!-- left content -->
<div class="row">
    <div class="col-sm-7">
        <div class="card" style="background: rgb(255, 255, 255);margin-bottom:10px">
            <h4><a routerLink="/post" class="navbar-brand" to="/post">[Android & iOS] Tổng hợp game mobile hay trong
                    tuần qua</a></h4>
            <div class="d-flex justify-content-center">
                <img src="https://fakeimg.pl/633x320/?text=Hello" class="img-fluid">
            </div>
            <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
        </div>

        <div class="card" style="background: rgb(255, 255, 255);margin-bottom:10px">
            <h4>Galaxy M20 có giá dự kiến 5 triệu tại Việt Nam</h4>
            <div class="d-flex justify-content-center">
                <img src="https://fakeimg.pl/320x310/?text=Hello" class="img-fluid">
            </div>
            <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
        </div>
    </div>
    <div class="col-sm-4" style="margin-left: 5px">
        <app-right-content></app-right-content>
    </div>
</div>